@model FlightManager.Data.Models.Flight

@{
    ViewData["Title"] = "Flight Details";
}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Flight Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FromLocation)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FromLocation)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ToLocation)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ToLocation)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DepartureTime)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DepartureTime)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.ArrivalTime)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.ArrivalTime)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AircraftType)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AircraftType)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.AircraftNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.AircraftNumber)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PilotName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PilotName)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PassengerCapacity)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PassengerCapacity)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.BusinessClassCapacity)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.BusinessClassCapacity)
                </dd>
            </dl>

            <div class="text-center mt-4">
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">
                        <i class="fas fa-trash"></i> Delete Flight
                    </a>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">
                        <i class="fas fa-edit"></i> Edit Flight
                    </a>
                }
                <a class="btn btn-secondary ml-3" asp-action="Index">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </div>
        </div>
    </div>
</div>
